# Entorno virtual
env/
venv/

# Archivos de entorno
.env
.env.development
.env.production

# BDD local
db.sqlite3

# Archivos compilados
__pychache__/
*.pyc
*.pyo

# Archivos estáticos recolectados
/staticfiles/

# Claves o certificados
*.key
*.pem


