{% extends "base.html" %}
{% load static %}

<!-- lista_juegos.html -->

{% block title %} De Todo Juegos - Catálogo {% endblock %}

    {% block content %}
        <h2 class="text-body">Lista de Juegos</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
            {% for juego in lista_juegos %} <!--juego es cada uno de los diccionarios de la lista de todos los juegos agregados en el VIEWS-->
                                           <!--en cada vuelta del bucle for va a generar la estructura completa: cargar imagen, titulo h5, nombre del juego, plataforma y precio (iterar las claves del diccionario de contexto)-->
                <div class="col">
                    <div class="card h-100">

                        <!--usar dos etiquetas DTL, con uno va a la carpeta donde están las portadas y con el otro el nombre de la imagen que se guarda en la BDD en el campo 'imagen' -->
                        <img src="{% static 'img/portadas/' %}{{ juego.imagen }}" class= "card-img-top" alt="Imagen genérica">
                        <div class="card-body">
                            <h5 class="card-title">{{ juego.nombre }}</h5>
                            <p class="card-text">Plataforma: {{ juego.plataforma }}</p>
                            <p class="card-text">Precio: {{ juego.precio }}</p>
                        </div>
                    </div>

                </div>    
            {% endfor %}

        </div>



    {% endblock %}